.form-control{
    font-family: Tajawal , 'sans-serif'  !important;
}
html, body{
    font-size: 15px;
}
.table th{
    font-weight: 600;
}
.table td{
    font-weight: 500;
}
.m-badge--gold{
    color: #fff;
    background-color: #ffd700;
}
.m-dropdown.m-dropdown--align-center .m-dropdown__wrapper{
    right: auto;
    left: 50%;
}
.my-profile .m-nav.m-nav--hover-bg .m-nav__item>.m-nav__link{
    padding: 12px 15px;
}
.profile-btn-option .btn.m-btn--custom{
    padding-left: 4px;
    padding-right: 4px;
}